﻿@{
    ViewData["Title"] = "Processamento de eventos";
}
<div class="container-fluid">
    <div class="form-control">
        <input type="button" id="IniciarProcessamento" value="Iniciar Processamento" />
    </div>
</div>
